{{!< layout/default}}
{{#extend "css"}}
    <!-- Mis archivos css -->
{{/extend}}

<h1>Mi primera vista handlebars</h1>


<!-- <div class="row">
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <select id="selectUsers" class="form-control">
            <option value="y">TEST</option>
        </select>
    </div>
</div> -->

<a class="btn btn-primary" data-toggle="modal" href='#modal-id'>Nuevo</a>
<div class="modal fade" id="modal-id">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Nuevo Usuario</h4>
            </div>
            <div class="modal-body">

                <form action="" method="POST" role="form">
                    <legend>Formulario</legend>
                    <div class="form-group">
                        <label for="">Nombre</label>
                        <input type="text" class="form-control" id="nombre" placeholder="Input field">
                    </div>
                    <div class="form-group">
                        <label for="">Apellido</label>
                        <input type="text" class="form-control" id="apellido" placeholder="Input field">
                    </div>
                    <div class="form-group">
                        <label for="">Nacimiento</label>
                        <input type="date" class="form-control" id="birthdate" placeholder="Input field">
                    </div>
                    <div class="form-group">
                        <label for="">Email</label>
                        <input type="text" class="form-control" id="email" placeholder="Input field">
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button id="guardar" type="button" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>NOMBRE</th>
                    <th>APELLIDO</th>
                    <th>NACIMIENTO</th>
                    <th>EMAIL</th>
                </tr>
            </thead>
            <tbody id="tableBody">
            </tbody>
        </table>

    </div>
</div>

{{#extend "js"}}
    <script>
        $(document).ready(function() {
            createtable();
            $('#guardar').click(function(e) {
                e.preventDefault();
                var nombre = $('#nombre').val();
                var apellido = $('#apellido').val();
                var birthdate = $('#birthdate').val();
                var email = $('#email').val();
                if (nombre && apellido && birthdate && email) {
                    saveUsers(nombre, apellido, birthdate, email);
                }
            });
            /* getUsers(function(users) {
                var $selectUsers = $('#selectUsers');
                $selectUsers.empty();
                users.forEach(user => {
                    $selectUsers.append($('<option></option>')
                        .attr('value', user.pk).text(`${user.name} ${user.lastname}`));
                });
            }); */
        });

        function getUsers(callback) {
            $.ajax({
                type: "GET",
                url: "/api/users/",
                dataType: "json",
                success: function(respuesta) {
                    callback(respuesta);
                }
            });
        }

        function saveUsers(nombre, apellido, birthdate, email) {
            $.ajax({
                type: "POST",
                url: "/api/users/",
                data: {
                    name: nombre,
                    lastname: apellido,
                    birthdate: birthdate,
                    email: email
                },
                dataType: "json",
                success: function() {
                    createtable();
                    $('#modal-id').modal('hide');
                }
            });
        }

        function createtable() {
            getUsers(function(users) {
                var html = '';
                users.forEach(user => {
                    html += `<tr>
                                <td>${user.pk}</td>
                                <td>${user.name}</td>
                                <td>${user.lastname}</td>
                                <td>${user.birthdate}</td>
                                <td>${user.email}</td>
                            </tr>`;
                });
                $('#tableBody').html(html);
            });
        }
    </script>
    <!-- Mis archivos js -->
{{/extend}}